<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>login</title>
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body>
    <main>
      <h1 id="header">Account Login</h1>
      <div>Hello your username is <%= data.username %> and your password is <%= data.password %> </div>
      <p></p>
    </main>
  </body>
</html>