html,

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.item {
  align-self: flex-end;
  height: 100px;
  min-width: 100px;
}

.green {
  background: rgb(81, 212, 0);
}


.yellow {
  background: rgb(255, 214, 42);
}

.purple {
  background: rgb(176, 42, 255);
}